.container_login{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login_form {
  display: flex;
  flex-direction: column;
}

.titles{
    margin: 10px 0;
}

.login_input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card_login {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.card-header {
  background-color: #ddd;
  border-radius: 4px 4px 0 0;
  padding: 10px;
  font-weight: bold;
}

.card-body {
  padding: 10px;
}

.login_button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login_button:hover{
  background-color: #3e8e41;
}